<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.sentinel.app"
        android:versionCode="1"
        android:versionName="1.0">

    <permission
            android:name="com.sentinel.app.permission.MAPS_RECEIVE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="com.sentinel.app.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>

    <supports-screens android:anyDensity="true"></supports-screens>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>
    <uses-feature android:name="android.hardware.camera"/>

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="17"/>

    <application
            android:label="Sentinel"
            android:icon="@drawable/ic_launcher">

        <uses-library android:required="true" android:name="com.google.android.maps"/>

        <activity
                android:name="com.sentinel.app.Sentinel"
                android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.sentinel.authentication.SentinelLogin"
                android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity
                android:name="com.sentinel.app.SentinelOnBreakActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity
                android:name="com.sentinel.asset.GeotagDeliveryZXingActvity"
                android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
                android:name=".SentinelShiftEndingActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <service
                android:name="com.sentinel.services.SentinelLocationService"
                android:enabled="true"
                android:permission="com.sentinel.LOCATION_SERVICE_PERMISSION"/>

        <receiver android:name="com.sentinel.connection.ConnectionChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sentinel.services.OrientationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.sentinel.app.Sentinel"/>
                <action android:name="com.sentinel.tracking.SentinelLocationService"/>
            </intent-filter>
        </receiver>

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="@string/maps_v2_api_key_macbook"/>

    </application>
</manifest>